<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216434265240-bl9v6lqug28a0j1ns4sn6bopdbn3kde2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216434265240-bl9v6lqug28a0j1ns4sn6bopdbn3kde2</string>
	<key>API_KEY</key>
	<string>AIzaSyBvFV8MOCrntq7dXsqSXrk1eFrVk2gZl2I</string>
	<key>GCM_SENDER_ID</key>
	<string>216434265240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>txsjyy.Project</string>
	<key>PROJECT_ID</key>
	<string>team8project-eb64a</string>
	<key>STORAGE_BUCKET</key>
	<string>team8project-eb64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216434265240:ios:a55fb6b2a0840cefe414ed</string>
</dict>
</plist>